extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main      
    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head("Sản phẩm nổi bật")
            
            //- Nhúng product grid: hiển thị từng product item
            +product-grid(productFeatured)

    .section-products-featured.my-5 
        .container 
            .row 
                .col-12 
                    +box-head("Sản phẩm mới")
            
            //- Nhúng product grid: hiển thị từng product item
            +product-grid(productsNew)
            