extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    .container.my-3 
        .row 
            .col-12
                if(countProducts) 
                    h2 Kết quả tìm kiếm: #{countProducts} Sản phẩm
    
        if(products.length)
            +product-grid(products)
        else 
            p(class="text-center") Không có sản phẩm